# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
/temp
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt

# Test folders
/temp

# Soroban related
.soroban
test_snapshots

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/target

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db